[mysqld]
ssl
ssl-cipher=DHE-RSA-AES256-SHA
ssl-ca=/home/seed/TheCork/mysql_keys/ca-cert.pem
ssl-cert=/home/seed/TheCork/mysql_keys/server-cert.pem
ssl-key=/home/seed/TheCork/mysql_keys/server-key.pem
require_secure_transport=ON

[client]
ssl-mode=REQUIRED
ssl-cert=/home/seed/TheCork/mysql_keys/client-cert.pem
ssl-key=/home/seed/TheCork/mysql_keys/client-key.pem
